<style>
</style>

<div class="container">
  <div>
    <h4>
      Candidatura de {{name}}, para a vaga de {{role}}.
    </h4>
    <p>
      {{name}} tem {{yoe}} de experiência na area. <br>
      <a href="{{portfolio}}">Portfolio</a>. <br>

      <a href=" {{cvPath}}">CV</a><br>
      
      Trabalhos: {{experience}}
    </p>
  </div>
</div>